{% extends 'blank.html' %}

{% block content %}
<div class="container gifs">
  <div class="row">

      {% for gif, form in gifs %}
        <div class="col-xs-12 col-md-3">
          <img src="{{ gif.url }}" alt="{{ gif.title }}">
          <p>Likes: {{ gif.likes }}</p>
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="form_id" value="{{ gif.id }}">
            <div>{{ form.like.label_tag }} {{ form.like }}  {{ form.dislike.label_tag }} {{ form.dislike }} <button type="submit" name="submit" value="Save changes">Update</button></div>
          </form>
        </div>
      {% endfor %}

    </div>
</div>

{% endblock %}